@model Scaffoding.Models.SessionAttendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SessionAttendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.arrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionTb.sessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionTb.sessionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uuid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
