@model IEnumerable<EventManagementSystem.Models.EventType>

@{
    ViewBag.Title = "Index";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        @*@Html.ActionLink("Event Management App", "Login", "Attendees", new { area = "" }, new { @class = "navbar-brand" })
        *@<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Event Type", "Index", "EventTypes", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Venues", "Index", "Venues", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Event Details", "Index", "EventDetails", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Attendees", "Index", "Attendees", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Event Registration", "Index", "EventRegistrations", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.typeEvent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typeEvent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.uuId }) |
                @Html.ActionLink("Details", "Details", new { id = item.uuId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.uuId })
            </td>
        </tr>
    }

</table>
